SIT323Assignment1/Connected Services/LocalConfigurationWebService/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConfigurationDataLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConfigurationDataLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57219/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ConfigurationData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CoefficientValues" nillable="true" type="q1:ArrayOfKeyValueOfintdouble" />
      <xs:element minOccurs="0" name="LogFilePath" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProcessorFrequencies" nillable="true" type="q2:ArrayOfKeyValueOfintdouble" />
      <xs:element minOccurs="0" name="ProcessorsFrequencyMax" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessorsFrequencyMin" type="xs:double" />
      <xs:element minOccurs="0" name="ProcessorsMax" type="xs:int" />
      <xs:element minOccurs="0" name="ProcessorsMin" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramMaxDuration" type="xs:double" />
      <xs:element minOccurs="0" name="ProgramProcessors" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramTasks" type="xs:int" />
      <xs:element minOccurs="0" name="RuntimeReferenceFrequency" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TaskRuntimes" nillable="true" type="q3:ArrayOfKeyValueOfintdouble" />
      <xs:element minOccurs="0" name="TasksMax" type="xs:int" />
      <xs:element minOccurs="0" name="TasksMin" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigurationData" nillable="true" type="tns:ConfigurationData" />
</xs:schema>